<section class="category">
    <div class="container">

        <div class="row">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__delimiter">>></span>
                <a href="#" class="breadcrumbs__link active">Новости</a>
            </div>
        </div>

        <div class="row category-services">
            <h1 class="category-title">Информация</h1>

            <article class="article__info article__info_left">
                <img src="img/info-1.jpg" alt="" class="article__info-img">
                <div class="article__info-wrap">
                    <h2 class="article__info-title">Info post title here</h2>
                    <p class="article__info-description">Suspendisse cursus nibh cursus consequat nisi orci egestas vivamus a fermentum convallis class scelerisque cubilia quam enim.Commodo est leo parturient a eu.</p>
                    <a href="#" class="btn btn_info-more">Подробнее</a>
                </div>
            </article>
            <article class="article__info article__info_right">
                <img src="img/info-2.jpg" alt="" class="article__info-img">
                <div class="article__info-wrap">
                    <h2 class="article__info-title">Info post title here</h2>
                    <p class="article__info-description">Suspendisse cursus nibh cursus consequat nisi orci egestas vivamus a fermentum convallis class scelerisque cubilia quam enim.Commodo est leo parturient a eu.</p>
                    <a href="#" class="btn btn_info-more">Подробнее</a>
                </div>
            </article>
            <article class="article__info article__info_left">
                <img src="img/info-3.jpg" alt="" class="article__info-img">
                <div class="article__info-wrap">
                    <h2 class="article__info-title">Info post title here</h2>
                    <p class="article__info-description">Suspendisse cursus nibh cursus consequat nisi orci egestas vivamus a fermentum convallis class scelerisque cubilia quam enim.Commodo est leo parturient a eu.</p>
                    <a href="#" class="btn btn_info-more">Подробнее</a>
                </div>
            </article>

        </div>

    </div>
</section>