<section class="category">
  <div class="container">

    <div class="row">
      <div class="breadcrumbs">
        <a href="#" class="breadcrumbs__link">Главная</a>
        <span class="breadcrumbs__delimiter">>></span>
        <a href="#" class="breadcrumbs__link active">Новости</a>
      </div>
    </div>

    <div class="row">
      <h1 class="category-title">Новости</h1>


      <div class="category-item">

        <div class="category-item-img">
          <img src="img/cat_news-2-l.png" data-lazy="img/cat_news-2.jpg">
          <a class="category-item-img-link" href="#">
            <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
          </a>
        </div>

        <div class="category-item-content">
          <a class="category-item-title" href="#">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur</a>
          <div class="category-item-info">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span class="category-item-info-counter">542</span>
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span class="category-item-info-counter">21</span>
          </div>
          <p class="category-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae distinctio nobis soluta temporibus tenetur
            voluptatum! Aperiam beatae consectetur dolore dolorem ea est fugiat laborum maxime nequeeat provident maxime
            neque, nostrum placeat provident maxime neque nostrum placeat provident maxime neque, nostrum placeat provident
            quos reprehenderit repudiandae unde voluptates!
          </p>
          <a href="#" class="category-item-more">Читать дальше</a>
        </div>

      </div>

      <div class="category-item">

        <div class="category-item-img">
          <img src="img/cat_news-2-l.png" data-lazy="img/cat_news-2.jpg">
          <a class="category-item-img-link" href="#">
            <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
          </a>
        </div>

        <div class="category-item-content">
          <a class="category-item-title" href="#">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur</a>
          <div class="category-item-info">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span class="category-item-info-counter">542</span>
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span class="category-item-info-counter">21</span>
          </div>
          <p class="category-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae distinctio nobis soluta temporibus tenetur
            voluptatum! Aperiam beatae consectetur dolore dolorem ea est fugiat laborum maxime nequeeat provident maxime
            neque, nostrum placeat provident maxime neque nostrum placeat provident maxime neque, nostrum placeat provident
            quos reprehenderit repudiandae unde voluptates!
          </p>
          <a href="#" class="category-item-more">Читать дальше</a>
        </div>

      </div>

      <div class="category-item">

        <div class="category-item-img">
          <img src="img/cat_news-2-l.png" data-lazy="img/cat_news-2.jpg">
          <a class="category-item-img-link" href="#">
            <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
          </a>
        </div>

        <div class="category-item-content">
          <a class="category-item-title" href="#">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur</a>
          <div class="category-item-info">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span class="category-item-info-counter">542</span>
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span class="category-item-info-counter">21</span>
          </div>
          <p class="category-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae distinctio nobis soluta temporibus tenetur
            voluptatum! Aperiam beatae consectetur dolore dolorem ea est fugiat laborum maxime nequeeat provident maxime
            neque, nostrum placeat provident maxime neque nostrum placeat provident maxime neque, nostrum placeat provident
            quos reprehenderit repudiandae unde voluptates!
          </p>
          <a href="#" class="category-item-more">Читать дальше</a>
        </div>

      </div>

      <div class="category-item">

        <div class="category-item-img">
          <img src="img/cat_news-2-l.png" data-lazy="img/cat_news-2.jpg">
          <a class="category-item-img-link" href="#">
            <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
          </a>
        </div>

        <div class="category-item-content">
          <a class="category-item-title" href="#">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur</a>
          <div class="category-item-info">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span class="category-item-info-counter">542</span>
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span class="category-item-info-counter">21</span>
          </div>
          <p class="category-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae distinctio nobis soluta temporibus tenetur
            voluptatum! Aperiam beatae consectetur dolore dolorem ea est fugiat laborum maxime nequeeat provident maxime
            neque, nostrum placeat provident maxime neque nostrum placeat provident maxime neque, nostrum placeat provident
            quos reprehenderit repudiandae unde voluptates!
          </p>
          <a href="#" class="category-item-more">Читать дальше</a>
        </div>

      </div>

    </div>

    <div class="row page-navigation pagination" role="navigation">
      <div class="page-navigation-item">
        <span class='page-numbers current'>1</span>
        <a class='page-numbers' href='http://ingredientsistem.ru/?paged=2&#038;cat=6'>2</a>
        <span class="page-numbers dots">&hellip;</span>
        <a class='page-numbers' href='http://ingredientsistem.ru/?paged=23&#038;cat=6'>23</a>
        <a class="next page-numbers" href="http://ingredientsistem.ru/?paged=2&#038;cat=6">Далее</a>
      </div>
    </div>

  </div>
</section>