<section class="category">
    <div class="container">

        <div class="row">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__delimiter">>></span>
                <a href="#" class="breadcrumbs__link active">Новости</a>
            </div>
        </div>

        <div class="row category-services">
            <h1 class="category-title">Интернет</h1>

            <article>

                <h2>Интернет по технологии ADSL</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aperiam architecto delectus dolores ducimus est exercitationem expedita hic illo ipsum labore laboriosam magnam, nam omnis pariatur quo reiciendis rem saepe sint? Assumenda at cum cumque deserunt excepturi facere laboriosam, magni minima mollitia, praesentium quis quos sequi ullam voluptas, voluptatem. Commodi consequatur earum error in praesentium! Explicabo, necessitatibus.</p>
                <h3>Доступные тарифы</h3>
                <div class="row row_tariffs">

                    <ul class="tariff">
                        <li class="tariff-name">Офис Легкий</li>
                        <li class="tariff-custom">Скорость: 6 Мбит/с</li>
                        <li class="tariff-custom">Стоимость: 260 руб в мес.</li>
                        <li class="tariff-custom">Lorem ipsum: 24 h</li>
                        <li class="tariff-button">Подключиться</li>
                    </ul>
                    <ul class="tariff">
                        <li class="tariff-name">Офис Средний</li>
                        <li class="tariff-custom">Скорость: 6 Мбит/с</li>
                        <li class="tariff-custom">Стоимость: 260 руб в мес.</li>
                        <li class="tariff-custom">Lorem ipsum: 24 h</li>
                        <li class="tariff-button">Подключиться</li>
                    </ul>
                    <ul class="tariff">
                        <li class="tariff-name">Офис Тяжелый</li>
                        <li class="tariff-custom">Скорость: 6 Мбит/с</li>
                        <li class="tariff-custom">Стоимость: 260 руб в мес.</li>
                        <li class="tariff-custom">Lorem ipsum: 24 h</li>
                        <li class="tariff-button">Подключиться</li>
                    </ul>


                </div>

                <div class="category__slider">
                    <h2 class="category__slider-title">Технология SHDSL</h2>
                    <ul class="owl-carousel sliderOne">
                        <li class="category__slider-item">
                            <h3 class="category__slider-name">Tarif Name</h3>
                            <span class="category__slider-value">1000 руб</span>
                        </li>
                        <li class="category__slider-item">
                            <h3 class="category__slider-name">Tarif Name</h3>
                            <span class="category__slider-value">1000 руб</span>
                        </li>
                        <li class="category__slider-item">
                            <h3 class="category__slider-name">Tarif Name</h3>
                            <span class="category__slider-value">1000 руб</span>
                        </li>
                        <li class="category__slider-item">
                            <h3 class="category__slider-name">Tarif Name</h3>
                            <span class="category__slider-value">1000 руб</span>
                        </li>
                        <li class="category__slider-item">
                            <h3 class="category__slider-name">Tarif Name</h3>
                            <span class="category__slider-value">1000 руб</span>
                        </li>
                        <li class="category__slider-item">
                            <h3 class="category__slider-name">Tarif Name</h3>
                            <span class="category__slider-value">1000 руб</span>
                        </li>
                    </ul>
                    <div class="category__nav" data-slider="sliderOne">
                        
                    </div>
                </div>

                <div class="category-services-sub">
                    <p>*Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad adipisci animi autem, consectetur consequuntur cum deserunt, distinctio ducimus eligendi eveniet facere fugiat impedit in nam possimus praesentium reprehenderit saepe totam ullam voluptas voluptates, voluptatum? Architecto dolorum ipsam magnam magni odit soluta velit?</p>
                </div>

            </article>

        </div>

    </div>
</section>