<section class="clients" style="background-image: url(img/clients-bg.jpg);">
    <div class="container">
        <div class="row">

            <h3>Наши клиенты</h3>
            <h2 class="h2-title">Что о нас говорят</h2>

        </div>

        <div class="row">

            <div class="clients-item">
                <div class="clients-item-img" style="background-image: url(img/client-1.png);"></div>
                <div class="clients-item-info">
                    <h4>"ООО НАН-Транс"</h4>
                    <h5>Грузоперевозки</h5>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat, magni nostrum perferendis sapiente sint.</p>
                </div>
            </div>

            <div class="clients-item">
                <div class="clients-item-img" style="background-image: url(img/client-1.png);"></div>
                <div class="clients-item-info">
                    <h4>"ООО НАН-Транс"</h4>
                    <h5>Грузоперевозки</h5>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat, magni nostrum perferendis sapiente sint.</p>
                </div>
            </div>

            <div class="clients-item">
                <div class="clients-item-img" style="background-image: url(img/client-1.png);"></div>
                <div class="clients-item-info">
                    <h4>"ООО НАН-Транс"</h4>
                    <h5>Грузоперевозки</h5>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat, magni nostrum perferendis sapiente sint.</p>
                </div>
            </div>

            <div class="clients-item">
                <div class="clients-item-img" style="background-image: url(img/client-1.png);"></div>
                <div class="clients-item-info">
                    <h4>"ООО НАН-Транс"</h4>
                    <h5>Грузоперевозки</h5>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat, magni nostrum perferendis sapiente sint.</p>
                </div>
            </div>

        </div>

    </div>
</section>