<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="footer-about">
                <img src="img/logo.png" alt="Комтел логотип">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium dignissimos doloribus error repellendus veniam.</p>
                <span class="footer-about-line"></span>
                <i>Присоединяйтесь:</i>
                <a href="#">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
                </a>
                <div class="footer-about-subscribe">
                    <input type="email" name="subscribe-email" id="subscribe-email" placeholder="E-mail">
                    <button class="footer-about-subscribe-button">Подписаться</button>
                </div>
            </div>

            <div class="footer-blog">
                <h3>Новости</h3>
                <div class="footer-blog-item">
                    <img src="img/last-news-1.jpg">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <time datetime="2017-11-22">22.11.2017г</time>
                    <a href="#"></a>
                </div>
                <div class="footer-blog-item">
                    <img src="img/last-news-2.jpg">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <time datetime="2017-11-22">22.11.2017г</time>
                    <a href="#"></a>
                </div>
                <div class="footer-blog-item">
                    <img src="img/last-news-3.jpg">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <time datetime="2017-11-22">22.11.2017г</time>
                    <a href="#"></a>
                </div>
            </div>

            <div class="footer-contacts">
                <h3>Контакты</h3>
                <strong>Адресс: </strong><address>г.Донецк, пр.Комсомольский 22</address>
                <p><strong>Телефон: </strong>+3(050) 111-11-11</p>
                <p><strong>E-mail: </strong>info@dnrtele.com</p>
            </div>

        </div>
    </div>
</footer>