<section class="happy">
    <div class="container">
        <div class="row">
            <ul class="happy-block">
                <li class="happy-block-item">
                    <span data-happy="186">0</span>
                    <p>Тысяч довольных<br/>абонентов</p>
                </li>
                <li class="happy-block-item">
                    <span data-happy="123">0</span>
                    <p>Километров кабеля<br/>проложено</p>
                </li>
                <li class="happy-block-item">
                    <span data-happy="98">0</span>
                    <p>Чашек кофе выпито</p>
                </li>
                <li class="happy-block-item">
                    <span data-happy="34">0</span>
                    <p>Гномов убито</p>
                </li>
                <li class="happy-block-item">
                    <span data-happy="21">0</span>
                    <p>Модемов сгорело</p>
                </li>
            </ul>
        </div>
    </div>
</section>