<header class="header">
    <div class="container">
        <nav class="row header-nav">
            <div class="header-nav-logo">
                <a href="#"><img src="img/logo.png"></a>
            </div>
            <ul class="header-nav-menu">
                <li class="header-nav-menu-item">
                    <a href="/">Главная</a>
                </li>
                <li class="header-nav-menu-item">
                    <a href="/category.html">Новости</a>
                </li>
                <li class="header-nav-menu-item">
                    <a href="/page.html">Услуги</a>
                </li>
                <li class="header-nav-menu-item">
                    <a href="">Обратная связь</a>
                </li>
                <li class="header-nav-menu-item">
                    <a href="">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="burger">
    <span></span>
    <span></span>
    <span></span>
</div>