<section class="mission">
    <div class="container">
        <div class="row">

            <h3>Наша миссия</h3>
            <h2 class="h2-title">О компании</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque enim ipsa laborum tempora. Cum delectus ipsam nemo veniam voluptatibus? Ad enim iste quod similique.</p>

        </div>

        <div class="row">

            <div class="mission-block">
                <a href="" style="background-image: url(img/our-team.jpg)">
                    <i class="fa fa-users fa-2x" aria-hidden="true"></i>
                    <h4>Команда</h4>
                </a>
            </div>

            <div class="mission-block">
                <a href="" style="background-image: url(img/strategy.jpg)">
                    <i class="fa fa-area-chart fa-2x" aria-hidden="true"></i>
                    <h4>Стратегия</h4>
                </a>
            </div>

            <div class="mission-block">
                <a href="" style="background-image: url(img/gift.jpg)">
                    <i class="fa fa-gift fa-2x" aria-hidden="true"></i>
                    <h4>Акции</h4>
                </a>
            </div>

        </div>

    </div>
</section>