<div id="modal-order" class="modal">
    <form class="form">
        <div class="form__close"></div>
        <div class="form__block">
            <h2 class="form__title">Заявка на подключение</h2>
        </div>
        <div class="form__block">
            <p>Название услуги: <span id="modalName" class="form__data"></span></p>
            <p>Тариф: <span id="modalTariff" class="form__data"></span></p>
        </div>
        <div class="form__block">
            <input class="form__input" id="order_name" name="order_name" placeholder="Имя" required>
        </div>
        <div class="form__block">
            <input class="form__input" id="order_address" name="order_address" placeholder="Адресс" required>
        </div>
        <div class="form__block">
            <input type="tel" class="form__input" id="order_tel" name="order_tel" placeholder="Телефон" required>
        </div>
        <div class="form__block">
            <input type="submit" class="form__submit" id="order_submit" value="Отправить">
        </div>
    </form>
</div>