<div id="modal-feedback" class="modal">
    <form class="form">
        <div class="form__close"></div>
        <div class="form__block">
            <h2 class="form__title">Обратная связь</h2>
        </div>
        <div class="form__block">
            <select class="form__input">
                <option selected disabled>Тема сообщения</option>
                <option>Lorem ipsum dolor sit amet.</option>
                <option>Lorem ipsum dolor sit amet.</option>
                <option>Lorem ipsum dolor sit amet.</option>
                <option>Lorem ipsum dolor sit amet.</option>
            </select>
        </div>
        <div class="form__block">
            <input class="form__input" id="order_name" name="order_name" placeholder="Имя">
        </div>
        <div class="form__block">
            <input type="tel" class="form__input" id="order_tel" name="order_tel" placeholder="Телефон">
        </div>
        <div class="form__block">
            <textarea class="form__input" rows="3" placeholder="Сообщение"></textarea>
        </div>
        <div class="form__block">
            <input type="submit" class="form__submit" id="order_submit" value="Отправить">
        </div>
    </form>
</div>