<section class="page">
    <div class="container">

        <div class="row">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__delimiter">>></span>
                <a href="#" class="breadcrumbs__link active">Новости</a>
            </div>
        </div>

        <div class="row">
            <div class="page-content page_margin_top">

                <h1>Услуги</h1>

                <div class="row">

                    <div class="page-service">
                        <video autoplay loop>
                            <source src="video/net.mp4" type="video/mp4">
                        </video>
                        <div class="page-service-info">
                            <h2>Интернет</h2>
                            <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                            <a href="#">Для юридических лиц</a>
                            <a href="#">Для физических лиц</a>
                            <a href="#">Для бюджетных организаций</a>
                        </div>
                    </div>

                    <div class="page-service">
                        <video autoplay loop>
                            <source src="video/tel.mp4" type="video/mp4">
                        </video>
                        <div class="page-service-info">
                            <h2>Телефония</h2>
                            <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                            <a href="#">Для юридических лиц</a>
                            <a href="#">Для физических лиц</a>
                            <a href="#">Для бюджетных организаций</a>
                        </div>
                    </div>

                    <div class="page-service">
                        <video autoplay loop>
                            <source src="video/other.mp4" type="video/mp4">
                        </video>
                        <div class="page-service-info">
                            <h2>Прочие</h2>
                            <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                            <a href="#">Для юридических лиц</a>
                            <a href="#">Для физических лиц</a>
                            <a href="#">Для бюджетных организаций</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>