<section class="page">
    <div class="container">

        <div class="row">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__delimiter">>></span>
                <a href="#" class="breadcrumbs__link active">Новости</a>
            </div>
        </div>

        <div class="row">

            <div class="page-content page_margin_top">

                <h1>Телефонная связь</h1>

                <h2>Lorem ipsum dolor sit amet.</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquam consectetur est iusto
                    odio repellat, sed sequi soluta veritatis, voluptate voluptatem voluptates? Cumque eligendi enim
                    laboriosam magni maxime quibusdam, vel. Enim iure tenetur vel?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquam consectetur est iusto
                    odio repellat, sed sequi soluta veritatis, voluptate voluptatem voluptates? Cumque eligendi enim
                    laboriosam magni maxime quibusdam, vel. Enim iure tenetur vel?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquam consectetur est iusto
                    odio repellat, sed sequi soluta veritatis, voluptate voluptatem voluptates? Cumque eligendi enim
                    laboriosam magni maxime quibusdam, vel. Enim iure tenetur vel?</p>

                <table>
                  <thead>
                  <tr>
                      <td>Lorem ipsum</td>
                      <td>Lorem ipsum</td>
                      <td>Lorem ipsum</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td>Lorem ipsum</td>
                      <td>Lorem ipsum</td>
                      <td>Lorem ipsum</td>
                  </tr>
                  <tr>
                      <td>Lorem ipsum</td>
                      <td>Lorem ipsum</td>
                      <td>Lorem ipsum</td>
                  </tr>
                  </tbody>
                </table>
            
                

                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>

            </div>

        </div>
    </div>
</section>