<section class="services">

    <div class="container">

        <div class="row">

            <h3>Услуги</h3>
            <h2 class="h2-title">Что мы предоставляем</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque enim ipsa laborum tempora. Cum delectus ipsam nemo veniam voluptatibus? Ad enim iste quod similique.</p>

        </div>

        <div class="row">

            <div class="services-block" style="background-image: url(img/services-img.jpg);">

            </div>

            <ul class="services-block" id="accordion">
                <li class="active">
                    <header>
                        <i class="fa fa-fax fa-2x" aria-hidden="true"></i>
                        <h4>Телефонная связь</h4>
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </header>
                    <article>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolorem necessitatibus perferendis rerum veniam. Ab, beatae delectus facilis ipsa numquam odit quaerat quas quibusdam recusandae repellendus totam ut? Accusamus aspernatur distinctio explicabo ipsa molestiae quaerat quasi, rerum voluptate. Aperiam assumenda fugit itaque minima nobis quaerat quis recusandae rem sequi sit.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad at autem ducimus eligendi explicabo facere fugiat incidunt maiores maxime, minima nemo, neque nihil pariatur perferendis praesentium rem repudiandae velit vitae voluptates? Ad, beatae cumque delectus explicabo fugiat nesciunt non pariatur porro quasi repellendus. Dicta impedit libero perspiciatis qui temporibus? Amet dignissimos iste libero odio quia, ratione recusandae sed sit?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad at autem ducimus eligendi explicabo facere fugiat incidunt maiores maxime, minima nemo, neque nihil pariatur perferendis praesentium rem repudiandae velit vitae voluptates? Ad, beatae cumque delectus explicabo fugiat nesciunt non pariatur porro quasi repellendus. Dicta impedit libero perspiciatis qui temporibus? Amet dignissimos iste libero odio quia, ratione recusandae sed sit?</p>
                    </article>
                </li>
                <li>
                    <header>
                        <i class="fa fa-wifi fa-2x" aria-hidden="true"></i>
                        <h4>Интернет</h4>
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </header>
                    <article>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolorem necessitatibus perferendis rerum veniam. Ab, beatae delectus facilis ipsa numquam odit quaerat quas quibusdam recusandae repellendus totam ut? Accusamus aspernatur distinctio explicabo ipsa molestiae quaerat quasi, rerum voluptate. Aperiam assumenda fugit itaque minima nobis quaerat quis recusandae rem sequi sit.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad at autem ducimus eligendi explicabo facere fugiat incidunt maiores maxime, minima nemo, neque nihil pariatur perferendis praesentium rem repudiandae velit vitae voluptates? Ad, beatae cumque delectus explicabo fugiat nesciunt non pariatur porro quasi repellendus. Dicta impedit libero perspiciatis qui temporibus? Amet dignissimos iste libero odio quia, ratione recusandae sed sit?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad at autem ducimus eligendi explicabo facere fugiat incidunt maiores maxime, minima nemo, neque nihil pariatur perferendis praesentium rem repudiandae velit vitae voluptates? Ad, beatae cumque delectus explicabo fugiat nesciunt non pariatur porro quasi repellendus. Dicta impedit libero perspiciatis qui temporibus? Amet dignissimos iste libero odio quia, ratione recusandae sed sit?</p>
                    </article>
                </li>
                <li>
                    <header>
                        <i class="fa fa-podcast fa-2x" aria-hidden="true"></i>
                        <h4>Радиосвязь</h4>
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </header>
                    <article>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolorem necessitatibus perferendis rerum veniam. Ab, beatae delectus facilis ipsa numquam odit quaerat quas quibusdam recusandae repellendus totam ut? Accusamus aspernatur distinctio explicabo ipsa molestiae quaerat quasi, rerum voluptate. Aperiam assumenda fugit itaque minima nobis quaerat quis recusandae rem sequi sit.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad at autem ducimus eligendi explicabo facere fugiat incidunt maiores maxime, minima nemo, neque nihil pariatur perferendis praesentium rem repudiandae velit vitae voluptates? Ad, beatae cumque delectus explicabo fugiat nesciunt non pariatur porro quasi repellendus. Dicta impedit libero perspiciatis qui temporibus? Amet dignissimos iste libero odio quia, ratione recusandae sed sit?</p>
                    </article>
                </li>
            </ul>

        </div>

    </div>

</section>