<section class="page">
    <div class="container">

        <div class="row">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__delimiter">>></span>
                <a href="#" class="breadcrumbs__link active">Новости</a>
            </div>
        </div>

        <div class="row">

            <div class="page-content page_margin_top">

                <h1>Телефонная связь</h1>

                <h2>Lorem ipsum dolor sit amet.</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquam consectetur est iusto
                    odio repellat, sed sequi soluta veritatis, voluptate voluptatem voluptates? Cumque eligendi enim
                    laboriosam magni maxime quibusdam, vel. Enim iure tenetur vel?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquam consectetur est iusto
                    odio repellat, sed sequi soluta veritatis, voluptate voluptatem voluptates? Cumque eligendi enim
                    laboriosam magni maxime quibusdam, vel. Enim iure tenetur vel?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquam consectetur est iusto
                    odio repellat, sed sequi soluta veritatis, voluptate voluptatem voluptates? Cumque eligendi enim
                    laboriosam magni maxime quibusdam, vel. Enim iure tenetur vel?</p>

                <table>
                    <thead>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                    </tbody>
                </table>

                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>

            </div>

        </div>

        <div class="row">

            <h2 class="page-title">Читайте также</h2>

            <div class="shares-item">
                <div class="shares-item-img" style="background-image: url(img/shares-1.jpg);">
                    <div class="shares-item-img-date">
                        <span>15</span>янв
                    </div>
                </div>
                <a href="#"><h4>Lorem ipsum dolor sit amet</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic non nulla ratione totam voluptatum.
                    Necessitatibus non officia repellat repellendus tempora?</p>
                <span class="shares-item-line"></span>
                <i class="fa fa-eye" aria-hidden="true"></i><span class="shares-item-counter">542</span>
                <i class="fa fa-comment" aria-hidden="true"></i><span class="shares-item-counter">21</span>
            </div>

            <div class="shares-item">
                <div class="shares-item-img" style="background-image: url(img/shares-2.jpg);">
                    <div class="shares-item-img-date">
                        <span>15</span>янв
                    </div>
                </div>
                <a href="#"><h4>Lorem ipsum dolor sit amet</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic non nulla ratione totam voluptatum.
                    Necessitatibus non officia repellat repellendus tempora?</p>
                <span class="shares-item-line"></span>
                <i class="fa fa-eye" aria-hidden="true"></i><span class="shares-item-counter">542</span>
                <i class="fa fa-comment" aria-hidden="true"></i><span class="shares-item-counter">21</span>
            </div>

            <div class="shares-item">
                <div class="shares-item-img" style="background-image: url(img/shares-3.jpg);">
                    <div class="shares-item-img-date">
                        <span>15</span>янв
                    </div>
                </div>
                <a href="#"><h4>Lorem ipsum dolor sit amet</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic non nulla ratione totam voluptatum.
                    Necessitatibus non officia repellat repellendus tempora?</p>
                <span class="shares-item-line"></span>
                <i class="fa fa-eye" aria-hidden="true"></i><span class="shares-item-counter">542</span>
                <i class="fa fa-comment" aria-hidden="true"></i><span class="shares-item-counter">21</span>
            </div>

        </div>

    </div>
</section>