<section class="page">
  <div class="container">

    <div class="row">
      <div class="breadcrumbs">
        <a href="#" class="breadcrumbs__link">Главная</a>
        <span class="breadcrumbs__delimiter">>></span>
        <a href="#" class="breadcrumbs__link active">Новости</a>
      </div>
    </div>

    <div class="row row_line_bottom">
      <div class="page-left">
        <a href="/img/cat_news-1.jpg" data-lightbox="gallery" class="page-img">
          <img src="/img/cat_news-1.jpg">
          <span class="page-img-capture">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </a>
        <div class="page-gallery">
          <a href="/img/cat_news-1.jpg" class="page-gallery-item" data-lightbox="gallery"><img src="/img/cat_news-1.jpg" alt=""></a>
          <a href="/img/cat_news-1.jpg" class="page-gallery-item" data-lightbox="gallery"><img src="/img/cat_news-1.jpg" alt=""></a>
          <a href="/img/cat_news-1.jpg" class="page-gallery-item" data-lightbox="gallery"><img src="/img/cat_news-1.jpg" alt=""></a>
          <a href="/img/cat_news-1.jpg" class="page-gallery-item" data-lightbox="gallery"><img src="/img/cat_news-1.jpg" alt=""></a>
          <a href="/img/cat_news-1.jpg" class="page-gallery-item" data-lightbox="gallery"><img src="/img/cat_news-1.jpg" alt=""></a>
          <a href="/img/cat_news-1.jpg" class="page-gallery-item" data-lightbox="gallery"><img src="/img/cat_news-1.jpg" alt=""></a>
          <a href="/img/cat_news-1.jpg" class="page-gallery-item" data-lightbox="gallery"><img src="/img/cat_news-1.jpg" alt=""></a>
          <a href="/img/cat_news-1.jpg" class="page-gallery-item" data-lightbox="gallery"><img src="/img/cat_news-1.jpg" alt=""></a>
        </div>
        <div class="page-ads">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Comtel -->
          <ins class="adsbygoogle"
              style="display:block"
              data-ad-client="ca-pub-3273554143335407"
              data-ad-slot="8207694759"
              data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
      <div class="page-right">
        <div class="row">
          <div class="page-content">
            <h2>Lorem ipsum dolor sit</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cum delectus eos id provident quod rem
              reprehenderit, suscipit? Commodi cupiditate earum eum magni voluptate.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque et iste obcaecati?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci beatae blanditiis cupiditate deserunt dolore
              doloribus ea eligendi eveniet excepturi fuga hic in, ipsa laboriosam, molestiae ratione reprehenderit vitae
              voluptates. Libero maxime odit recusandae!
            </p>

            <div id="comments" class="comments-area">


              <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">Добавить комментарий
                  <small>
                    <a rel="nofollow" id="cancel-comment-reply-link" href="/2017/12/12/%d1%82%d0%b5%d1%81%d1%82%d0%be%d0%b2%d0%b0%d1%8f-%d0%bd%d0%be%d0%b2%d0%be%d1%81%d1%82%d1%8c-1-2/#respond"
                      style="display:none;">Отменить ответ</a>
                  </small>
                </h3>
                <form action="http://nc/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                  <p class="comment-notes">
                    <span id="email-notes">Ваш e-mail не будет опубликован.</span> Обязательные поля помечены
                    <span class="required">*</span>
                  </p>
                  <p class="comment-form-comment">
                    <label for="comment">Комментарий</label>
                    <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true"
                      required="required"></textarea>
                  </p>
                  <p class="comment-form-author">
                    <label for="author">Имя
                      <span class="required">*</span>
                    </label>
                    <input id="author" name="author" type="text" value="" size="30" maxlength="245" aria-required='true'
                      required='required' />
                  </p>
                  <p class="comment-form-email">
                    <label for="email">E-mail
                      <span class="required">*</span>
                    </label>
                    <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes"
                      aria-required='true' required='required' />
                  </p>
                  <p class="form-submit">
                    <input name="submit" type="submit" id="submit" class="submit" value="Отправить комментарий" />
                    <input type='hidden' name='comment_post_ID' value='64' id='comment_post_ID' />
                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                  </p>
                </form>
              </div>
              <!-- #respond -->

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <h2 class="page-title">Читайте также</h2>

      <div class="shares-item">
        <div class="shares-item-img" style="background-image: url(img/shares-1.jpg);">
          <div class="shares-item-img-date">
            <span>15</span>янв
          </div>
        </div>
        <a href="#">
          <h4>Lorem ipsum dolor sit amet</h4>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic non nulla ratione totam voluptatum. Necessitatibus
          non officia repellat repellendus tempora?</p>
        <span class="shares-item-line"></span>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <span class="shares-item-counter">542</span>
        <i class="fa fa-comment" aria-hidden="true"></i>
        <span class="shares-item-counter">21</span>
      </div>

      <div class="shares-item">
        <div class="shares-item-img" style="background-image: url(img/shares-2.jpg);">
          <div class="shares-item-img-date">
            <span>15</span>янв
          </div>
        </div>
        <a href="#">
          <h4>Lorem ipsum dolor sit amet</h4>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic non nulla ratione totam voluptatum. Necessitatibus
          non officia repellat repellendus tempora?</p>
        <span class="shares-item-line"></span>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <span class="shares-item-counter">542</span>
        <i class="fa fa-comment" aria-hidden="true"></i>
        <span class="shares-item-counter">21</span>
      </div>

      <div class="shares-item">
        <div class="shares-item-img" style="background-image: url(img/shares-3.jpg);">
          <div class="shares-item-img-date">
            <span>15</span>янв
          </div>
        </div>
        <a href="#">
          <h4>Lorem ipsum dolor sit amet</h4>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic non nulla ratione totam voluptatum. Necessitatibus
          non officia repellat repellendus tempora?</p>
        <span class="shares-item-line"></span>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <span class="shares-item-counter">542</span>
        <i class="fa fa-comment" aria-hidden="true"></i>
        <span class="shares-item-counter">21</span>
      </div>

    </div>

  </div>
</section>