<section class="slider">
    <ul class="slider-bg">
        <li class="slider-bg-item" data-src="img/slide-5.jpg"></li>
        <li class="slider-bg-item" data-src="img/slide-1.jpg"></li>
        <li class="slider-bg-item" data-src="img/slide-2.jpg"></li>
        <li class="slider-bg-item" data-src="img/slide-3.jpg"></li>
        <li class="slider-bg-item" data-src="img/slide-4.jpg"></li>
    </ul>
    <div class="container">
        <div class="row">
            <ul class="slider-text">
                <li class="slider-text-item">
                    <h2>Выгодные тарифы</h2>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel?</h3>
                    <a href="" class="main-btn">Детали</a>
                </li>
                <li class="slider-text-item">
                    <h2>Lorem ipsum dolor 2</h2>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel?</h3>
                    <a href="" class="main-btn">Детали</a>
                </li>
                <li class="slider-text-item">
                    <h2>Lorem ipsum dolor 3</h2>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel?</h3>
                    <a href="" class="main-btn">Детали</a>
                </li>
                <li class="slider-text-item">
                    <h2>Lorem ipsum dolor 4</h2>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel?</h3>
                    <a href="" class="main-btn">Детали</a>
                </li>
                <li class="slider-text-item">
                    <h2>Lorem ipsum dolor 5</h2>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel?</h3>
                    <a href="" class="main-btn">Детали</a>
                </li>
            </ul>
            <ul class="slider-down">
                <li class="slider-down-item">Фиксированная связь</li>
                <li class="slider-down-item">GPON</li>
                <li class="slider-down-item">FTTB</li>
                <li class="slider-down-item">ADSL</li>
                <li class="slider-down-item">Ethernet</li>
            </ul>
        </div>
    </div>
</section>