<section class="video-block">

    <div class="video-block-fullscreen">
        <video preload="auto" muted autoplay loop>
            <source src="video/20oct.mp4" type="video/mp4">
        </video>
    </div>

    <div class="container">
        <div class="row">
            <div class="video-block-text">
                <h2 class="h2-title">Одна команда - одна цель</h2>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, autem deleniti explicabo itaque laudantium nihil.</h3>
            </div>
        </div>
    </div>

</section>