.btn {
    display: inline-block;
    margin: 15px 0;
    padding: 15px 25px;
    border: 1px solid $dodgerblue;
    background-color: $dodgerblue;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: all .2s linear;
    cursor: pointer;
    &:hover, &:focus {
        background-color: white;
        color: $dodgerblue;
    }
}