.mission {
  width: 100%;
  height: 750px;
  @include sm(height, auto);
  background-color: $white;
  .container {
    padding: 90px 0 110px;
    @include sm(padding, 50px 0);
  }
  .row:first-child {
    flex-direction: column;
    align-items: center;
    p {
      margin: 50px 0 100px 0;
      @include sm(margin, 50px 30px);
      width: 900px;
      @include sm(width, calc(100% - 60px));
      text-align: center;
    }
  }
  &-block{
    @include col;
    @include col-4;
    @include col-sm-12;
    @include sm(margin, 30px);
    height: 250px;
    background-color: $dodgerblue;
    position: relative;
    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .2s linear;
      color: white;
      background-position: center center;
      -webkit-background-size: cover;
      background-size: cover;
      @include sm(box-shadow, 0 0 7px rgba(0,0,0,.5));
      i,h4{
        display: none;
        @include sm(display, block);
        z-index: 2;
        margin-bottom: 5px;
      }
      &:hover{
        @include sm(top, 0);
        @include sm(left, 0);
        top: -8px;
        left: -8px;
        box-shadow: 5px 5px 7px rgba(0,0,0,.5);
        @include sm(box-shadow, 0 0 7px rgba(0,0,0,.5));
        i{
          display: block;
        }
        h4{
          display: block;
        }
      }
      &:hover::after{
        opacity: 1;
      }
      &:after{
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255,255,255,.8), rgba(23,155,215,.8));
        z-index: 1;
        opacity: 0;
        @include sm(opacity, 1);
        transition: all .1s linear;
      }
    }
  }
}